.boby{
    background-color: black;
    width: 70%;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: white;
}
nav ul{
    display: inline;
    flex-direction: row;
    float: right;
    margin-top: 15px;
    padding-left: 20px;
}
nav ul li{
    
    display: inline;
}
nav ul li a{
    text-decoration: none;
    color: rgb(75, 77, 241);
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px;
}
nav a:hover{
    background-color: rgb(54, 235, 196);
    padding: 10px;
    color: white;
    padding: 10px;
    margin-right: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
}
.ho,.fi,.co{
    border-right: 2px solid rgb(173, 171, 171);
    margin-right: 10px;

}
.hding{
    text-align: center;
    padding-top: 50px;
    font-style: inherit;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    font-size: 1em;
    color: white;
}
.hding h2{
    color: lemonchiffon;
}
.about-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 300px;
    padding-top: 170px;
    padding-right: 100px;
}
.about-section-text{
    padding-left: 30px;
}
.about-section-text span{
    font-size: 3rem;
}

footer{
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 100%;
    margin-top: -100px;
    border-radius: 5px;
    margin-left: 0;
    margin-bottom: 0px;
    padding-top: 200px;
    align-items: center;
    justify-content: center;
}